<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataConnMSSql.Properties.Settings.PROBAConnStr" connectionString="Data Source=(localdb)\MSSQLLocaldb;Initial Catalog=E:\SOURCE\REPOS\GYAKORLAS\SQLDOTNET472\BIN\DEBUG\PROBA.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>